body{
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;  
  background:#000 url(//s.turbik.tv/i/login/background.jpg) top center no-repeat;
}
img{
  border:0;
}
div#login{
  position:relative;
  display:table;
  margin:200px auto 20px auto;
  padding:0;
  width:380px;
}
div#login .loginbox{
  float:left;
  width:380px;
  min-height:100px;
  padding:10px 0 15px 0;
  background:#000000 url(//s.turbik.tv/i/login/bggreyblack.png) 0 0 repeat-x;
  border-radius:12px;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
}
div#login .logo{
  float:left;
  width:100%;
  height:25px;
  margin:5px 0;
  text-align:center;
}
div#login .loginblock{
  float:left;
  width:100%;
}
div#login .brainblock{
  float:left;
  width:100%;
  display:none;
}
div#login .brainoktext{
  float:left;
  width:320px;
  margin:10px 30px;
  display:none;
}
div#login .form{
  float:left;
  width:320px;
  height:25px;
  margin:10px 30px 0 30px;
}
div#login .form .left{
  float:left;
  width:60px;
  height:25px;
  padding:6px 0 0 0;
}
div#login .form .rightl{
  float:left;
  width:260px;
  height:27px;
  background:url(//s.turbik.tv/i/login/inputbg.png) 0 0 no-repeat;
}
div#login .form .righta{
  float:left;
  width:260px;
  height:27px;
  background:url(//s.turbik.tv/i/login/inputbg.png) 0 -27px no-repeat;
}
div#login .form .rightl input{
  width:244px;
  height:16px;
  margin:6px 0 0 8px;
  padding:0;
  border:0;
  background:#000;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;
  outline-style:none;
}
div#login .form .righta input{
  width:240px;
  height:16px;
  margin:6px 0 0 8px;
  padding:0;
  border:0;
  background:#000;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;
  outline-style:none;
}
div#login .form .loginbut{
  float:left;
  width:111px;
  height:20px;
  margin:0 0 0 100px;
  background:url(//s.turbik.tv/i/login/loginbutton.png) 0 0 no-repeat;
  cursor:pointer;
}
div#login .form .loginbut:hover{
  background:url(//s.turbik.tv/i/login/loginbutton.png) 0 -20px no-repeat;
}
div#login .form .loginbut:active{
  background:url(//s.turbik.tv/i/login/loginbutton.png) 0 -40px no-repeat;
}
div#login .form .brainsbut{
  float:left;
  width:111px;
  height:20px;
  margin:0 0 0 100px;
  background:url(//s.turbik.tv/i/login/brainsbutton.png) 0 0 no-repeat;
  cursor:pointer;
}
div#login .form .brainsbut:hover{
  background:url(//s.turbik.tv/i/login/brainsbutton.png) 0 -20px no-repeat;
}
div#login .form .brainsbut:active{
  background:url(//s.turbik.tv/i/login/brainsbutton.png) 0 -40px no-repeat;
}
div#login .form .rememberbut{
  float:left;
  width:111px;
  height:20px;
  margin:0 0 0 100px;
  background:url(//s.turbik.tv/i/login/rememberbutton.png) 0 0 no-repeat;
  cursor:pointer;
}
div#login .form .rememberbut:hover{
  background:url(//s.turbik.tv/i/login/rememberbutton.png) 0 -20px no-repeat;
}
div#login .form .rememberbut:active{
  background:url(//s.turbik.tv/i/login/rememberbutton.png) 0 -40px no-repeat;
}
div#signup{
  position:relative;
  display:table;
  margin:80px auto 0 auto;
  padding:0;
  width:380px;
}
div#signup .loginbgt{
  float:left;
  width:380px;
  height:10px;
  background:url(//s.turbik.tv/i/login/topbg.png) 0 0 no-repeat;
}
div#signup .loginbox{
  float:left;
  width:380px;
  min-height:100px;
  background:#000000 url(//s.turbik.tv/i/login/midbg.png) 0 0 no-repeat;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;
}
div#signup .loginbgb{
  float:left;
  width:380px;
  height:10px;
  background:url(//s.turbik.tv/i/login/bottombg.png) 0 0 no-repeat;
}
div#signup .logo{
  float:left;
  width:100%;
  height:25px;
  margin:5px 0;
  text-align:center;
}
div#signup .form{
  float:left;
  width:320px;
  height:25px;
  margin:10px 30px 0 30px;
}
div#signup .form .left{
  float:left;
  width:60px;
  height:25px;
  padding:5px 0 0 0;
}
div#signup .form .rightl{
  float:left;
  width:260px;
  height:27px;
  background:url(//s.turbik.tv/i/login/inputbg.png) 0 0 no-repeat;
}
div#signup .form .righta{
  float:left;
  width:260px;
  height:27px;
  background:url(//s.turbik.tv/i/login/inputbg.png) 0 -27px no-repeat;
}
div#signup .form .rightl input{
  width:244px;
  height:16px;
  margin:6px 0 0 8px;
  padding:0;
  border:0;
  background:#000;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;
  outline-style:none;
}
div#signup .form .rightl .inputmail{
  width:244px;
  height:16px;
  margin:6px 0 0 8px;
  padding:0;
  border:0;
  background:#000;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#d0d0d0;
  outline-style:none;
}
div#signup .form .righta input{
  width:240px;
  height:16px;
  margin:6px 0 0 8px;
  padding:0;
  border:0;
  background:#000;
  font-family:"Trebuchet MS", Arial;
  font-size:12px;
  color:#747f84;
  outline-style:none;
}
div#signup .form .rememberl{
  float:left;
  width:20px;
  height:25px;
}
div#signup .logintext{
  float:left;
  width:320px;
  margin:10px 30px 0 30px;
}
.a-btcenter{
  float:left;
  width:100%;
  text-align:center;
}
a.a-btl{
  color:#747f84;
  text-shadow:1px 1px 0 #292929!important;
  background:#2d3234 url(//s.turbik.tv/i/content/a-btl.png) repeat-x 0 0;
  border-color:#191919 #191919 #1d1d1d!important;
  cursor:pointer;
  border-style:solid;border-width:1px!important;
  text-decoration:none;
  padding:4px 8px;
  line-height:12px;
  font-size:12px;
  font-family:"Trebuchet MS",Helvetica,Arial;
  display:inline-block;
  _display:inline;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
a.a-btl:hover,a.a-btl:focus{
  color:#cecece;
  text-shadow:1px 1px 0 #292929!important;
  border-color:#3a3f42 #3a3f42 #3a3f42!important;
  text-decoration:none;
  outline:none;
  background-position:0 -30px;
}
a.a-btl:active{
  background-image:none;
  outline:none;
}
a.a-bts{
  color:#c1c1c1;
  text-shadow:1px 1px 0 #292929!important;
  background:#6c7173 url(//s.turbik.tv/i/login/a-bts.png) repeat-x 0 0;
  border-color:#8b8c8c #8b8c8c #8b8c8c!important;
  cursor:pointer;
  border-style:solid;border-width:1px!important;
  text-decoration:none;
  padding:4px 8px;
  line-height:12px;
  font-size:12px;
  font-family:"Trebuchet MS",Helvetica,Arial;
  display:inline-block;
  _display:inline;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
a.a-bts:hover,a.a-btl:focus{
  color:#cecece;
  text-shadow:1px 1px 0 #292929!important;
  border-color:#8b8c8c #8b8c8c #8b8c8c!important;
  text-decoration:none;
  outline:none;
  background-position:0 -30px;
}
a.a-bts:active{
  background-image:none;
  outline:none;
}
div.mailto{
  position:relative;
  display:table;
  margin:0 auto;
}
div.mailto a{
  color:#5E6E75;
  cursor:pointer;
  font-size:11px;
  text-decoration:underline;
}
div#login .form .brains{
  float:right;
  width:100px;
  height:18px;
  padding:1px 4px 0 0;
  text-align:right;
}
div#login .form .brains a{
  color:#5e6e75;
  text-decoration:underline;
  font-size:12px;
  cursor:pointer;
}
div#login .form .brains a:hover{
  color:#74919e;
  text-decoration:underline;
}
div#login .formt{
  float:left;
  width:320px;
  height:14px;
  margin:0 30px;
}
div#login .formt .wow{
  float:right;
  width:150px;
  margin:0 4px 0 0;
  text-align:right;
}
div#login .formt .wow a{
  color:#428205;
  text-decoration:underline;
  font-size:12px;
  cursor:pointer;
}
div#login .formt .wow a:hover{
  color:#669936;
  text-decoration:underline;
}