<p>
	Сезон: {$episode.season}, Эпизод: {$episode.episode}
</p>

<p>
	{$episode.title_en} / {$episode.title_ru}
</p>
<ul>
{section name=i loop=$links}
<li>
	<a href="/_ajax/get_link.php?link={$links[i].link|base64_encode}" target="_blank">{$links[i].src} - {$links[i].lang|strtoupper}</a>
</li>
{/section}
</ul>